<configuration>
    <conversionRule conversionWord="highlight"
                    class="fr.euphyllia.fidorial.server.console.FidorialConsoleHighlighter"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight([%d{HH:mm:ss}] [%thread/%level] [%logger{0}]: %msg%n)</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="fr.euphyllia.fidorial"
            level="${Fidorial.logLevel:-INFO}"/>
</configuration>
